* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: #31405b;
}

.bg-inner {
    background-color: #f2f8f6;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.title-medium {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
}

.title-micro {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    background-color: #0ac883;
    color: #fff !important;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);
    transition: background-color 0.2s ease-out;
}

.button:hover {
    border: 2px solid transparent;
    background-color: #68eebd;
}

.button:active {
    background-color: #265847;
}

.button:focus {
    outline-style: none;
    border: 2px solid #2ab698;
    box-shadow: 0 0 10px 5px rgba(49, 148, 126, 0.5);
}

.button-form {
    padding: 10px 30px 10px 30px;
}

/* --------------------HEADER---------------- */

.header {
    position: relative;
    height: 800px;
    padding-top: 45px;
    background-color: #1a4f27;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-inner {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1a4f27;
    background: url("../img/header-inner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo a {
    float: left;
    width: 270px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

.menu {
    float: right;
    width: 870px;
    padding-top: 15px;
    text-align: right;
}

.menu a {
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
}

.menu a:last-child {
    margin-right: 0;
}

.menu a:hover {
    text-decoration: underline;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    text-align: center;
}

.header-content h2 {
    margin: 0 0 30px 0;
    font-size: 60px;
    font-weight: 700;
}

.header-content h3 {
    margin: 0 0 22px 0;
    font-weight: 400;
}

.header-scroll {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
}

.header-scroll a {
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.header-scroll a:hover {
    text-decoration: underline;
}

/* --------------------//HEADER---------------- */

/* --------------------CONTENT---------------- */

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.content-row {
    margin-bottom: 120px;
}

.content-row:last-child {
    margin-bottom: 0;
}

.content-row::after {
    content: "";
    display: table;
    clear: both;
}

.content-row:nth-child(even)>.content-text {
    float: right;
}

.content-row:nth-child(even)>.content-img {
    float: left;
}

.content-text {
    float: left;
    width: 470px;
}

.content-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 54px;
}

.content-text p {
    font-size: 20px;
    line-height: 1.6;
}

.content-text p:last-of-type {
    margin-bottom: 40px;
}

.content-text a {
    color: #138ece;
}

.content-img {
    float: right;
    width: 570px;
}

/* --------------------//CONTENT---------------- */

/* --------------------SECTION CONTENT INNER---------------- */

.section-content-inner {
    padding-top: 70px;
    padding-bottom: 120px;
}

.contact-title {
    margin-top: 30px;
}

.contacts-address {
    float: left;
    width: 470px;
}

.contacts-form {
    float: right;
    width: 630px;
}

.contacts-list {
    margin: 0 0 40px 0;
    padding: 0 0 0 70px;
    list-style: none;
    font-size: 20px;
}

.contacts-list li {
    position: relative;
    margin-bottom: 20px;
}

.contacts-list a {
    text-decoration: none;
    color: #31405b;
}

.contacts-list a:hover {
    text-decoration: underline;
}

.icon {
    content: "";
    position: absolute;
    top: 2px;
    left: -48px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-phone {
    background-image: url("../img/icons/phone-solid.svg");
}

.icon-mail {
    background-image: url("../img/icons/envelope-solid.svg");
}

.icon-marker {
    background-image: url("../img/icons/map-marker-alt-solid.svg");
}

.contacts-address img {
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
}

/* ---------------------------------CARD-------------------------------- */

.title-tours {
    padding: 0;
    margin-bottom: 70px;
    text-align: center;
}

.tours-card {}

.tours-card::after {
    content: "";
    display: table;
    clear: both;
}

.tours-card img {
    vertical-align: top;
}

.tours-card h3 {
    margin: 0;
    padding: 26px 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.tours-card a {
    text-decoration: none;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: 0.5s ease-in-out;
}

.img-wrapper:hover img {
    transform: scale(1.1);
}

.card-free {
    float: left;
    margin-bottom: 30px;
    background-color: #a6a6a6;
}

.card-extreme {
    float: right;
    max-width: 570px;
    position: relative;
    overflow: hidden;
    background-color: #c1b19b;
}

.card-extreme-hover {
    position: absolute;
    top: 0;
    left: 570px;
    transition: 0.5s ease-in-out;
}

.card-extreme:hover .card-extreme-hover {
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
}

.card-awesome {
    float: left;
    margin-bottom: 30px;
    background-color: #66b0be;
}

.card-tracking {
    float: left;
    background-color: #876f56;
}

.card-exotic {
    float: right;
    background-color: #27695e;
}

.card-exotic h3 {
    padding-top: 31px;
}

/* ----------------------//CARD--------------------------------------- */

/* ----------------------TOUR-ARTICLE---------------------------- */

.article-col-left {
    float: left;
    width: 270px;
}

.article-col-left ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #138ece;
}

.article-col-left li {
    border-top: 1px solid #d6d9d8;
}

.article-col-left li:last-child {
    border-bottom: 1px solid #d6d9d8;
}

.active {
    display: block;
    padding-top: 14px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #e04e4e;
}

.article-col-left a {
    display: block;
    padding-top: 14px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #138ece;
}

.article-col-left a:hover {
    text-decoration: underline
}

.article-col-right {
    float: right;
    width: 770px;
}

.article-col-right h1 {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    line-height: 1;
}

.article-col-right img {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 28px;
}

.article-col-right p {
    margin: 0;
    margin-bottom: 15px;
}

.article-col-right p:last-child {
    margin: 0;
}

/* ----------------------//TOURS-ARTICLE-------------------------- */

/* --------------------//SECTION CONTENT INNER-------------- */

/* ----------------------------------FORM--------------------------- */

.form {
    padding: 40px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
    font-size: 20px;
}

.formgroup {
    margin-bottom: 25px;
}

.input-text {
    width: calc(50% - 5px);
    height: 50px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    margin-right: 4px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: #eeeeee;
    /*placeholder */
    font-family: 'PT Sans', sans-serif;
    color: rgba(49, 64, 91, 0.5);
    font-size: 20px;
}

.input-text:first-of-type {
    width: 100%;
}

.input-text:last-of-type {
    margin-right: 0;
}

.input-text:focus {
    outline-style: none;
    border: 2px solid #2ab698;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(49, 148, 126, 0.5);
}

.label-radio {
    display: block;
    margin-bottom: 15px;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 15px;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;
    cursor: pointer;
}

.custom-radio::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    /*  */
    background-color: #2ab698;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.input-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.input-radio:checked+.custom-radio::before {
    width: 12px;
    height: 12px;
}

.input-radio:focus+.custom-radio {
    border: 2px solid #2ab698;
    box-shadow: 0 0 10px 0 rgba(49, 148, 126, 0.5);
}

.label-checkbox {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

.input-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

.custom-checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    /*  */
    background-image: url("../img/icons/check-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s ease-in-out;
}

.input-checkbox:checked+.custom-checkbox::before {
    width: 14px;
    height: 14px;
}

.input-checkbox:focus+.custom-checkbox {
    border: 2px solid #2ab698;
    box-shadow: 0 0 10px 0 rgba(49, 148, 126, 0.5);
}

/* ----------------------------------//FORM------------------------------- */

/* ---------------------------------FOOTER------------------------------ */

footer {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #265847;
    color: #fff;
}

.footer-left {
    float: left;
    width: 270px;
}

.footer-left h3 {
    margin: 0 0 25px 0;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.625;
}

.footer-right {
    float: right;
    max-width: 870px;
}

.footer-right::after {
    content: "";
    display: table;
    clear: both;
}

.footer-col {
    float: left;
    width: 200px;
    margin-right: 30px;
    font-size: 18px;
}

.footer-col:nth-child(2) {
    width: 240px;
}

.footer-col:last-child {
    margin-right: 0;
}

.footer-col h3 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 700;
}

.footer-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-col li {
    margin-bottom: 10px;
}

.footer-right a {
    text-decoration: none;
    color: #fff;
}

.footer-right a:hover {
    text-decoration: underline;
}