*::-moz-selection {
  background-color: #84d6fd;
}
*::selection {
  background-color: #84d6fd;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-size: unset;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  outline: none;
}
@media (min-width: 1200px) {
  a:focus {
    border: 3px dotted #ea736d;
  }
}
button,
input {
  border: none;
  outline: none;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
  }
}
.row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
.row.row__sb {
  justify-content: space-between;
}
.row__myskills {
  margin-top: -95px;
  padding-top: 80px;
}
.title {
  color: #000;
  font-weight: 800;
}
.title.title__section {
  font-size: 42px;
}
@media (min-width: 768px) {
  .title.title__section {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title.title__section {
    font-size: 64px;
  }
}
.title-line {
  position: relative;
  z-index: 0;
}
.title-line::before {
  position: absolute;
  right: -5px;
  bottom: 10%;
  left: -5px;
  z-index: -1;
  height: 10px;
  background-color: #039be5;
  content: "";
}
.title-line.title-line--lg::before {
  right: -2px;
  bottom: 12%;
  left: -2px;
  height: 12px;
}
@media (min-width: 1200px) {
  .title-line.title-line--lg::before {
    bottom: 17%;
  }
}
.title-line.title-line--sm::before {
  right: 0;
  bottom: 10%;
  left: 0;
  display: none;
  height: 7px;
  transition: background-color 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .title-line.title-line--sm::before {
    display: block;
  }
}
.link {
  padding: 8px 0;
  color: #000;
}
.link span {
  border-bottom: 1px solid #000;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.link:hover span {
  color: #039be5;
  border-color: #039be5;
}
.link:active span {
  color: #ea736d;
  border-color: #ea736d;
}
.btn {
  display: inline-block;
  height: 54px;
  padding: 10px 36px 0;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  transition: color 0.2s ease, border 0.2s ease;
}
@media (min-width: 1200px) {
  .btn {
    height: 64px;
    font-size: 22px;
  }
  .btn:focus {
    border: 4px dotted #ea736d;
  }
}
.btn-filled {
  color: #000;
  background-color: #039be5;
  border: 4px solid transparent;
  transition: background-color 0.2s ease;
}
.btn-filled:hover {
  color: #000;
  background-color: #038acc;
}
.btn-filled:active {
  color: #000;
  background-color: #0279b3;
}
.btn-empty {
  color: #464646;
  border: 4px solid #464646;
  transition: color 0.2s ease, border 0.2s ease;
}
.btn-empty:hover {
  color: #797979;
  border-color: #797979;
}
.btn-empty:active {
  color: #181818;
  border-color: #181818;
}
.icon-vk:hover path,
.icon-vk:focus path {
  fill: #4680c2;
}
.icon-github:hover path,
.icon-github:focus path {
  fill: #6cc644;
}
.icon-discord:hover path,
.icon-discord:focus path {
  fill: #7289da;
}
.contacts-icons {
  display: flex;
}
@media (min-width: 1200px) {
  .contacts-icons {
    padding-left: 6px;
  }
}
.contacts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contacts-icon:last-child {
  margin-right: 0;
}
.contacts-icon__vk {
  background-color: #4680c2;
}
.contacts-icon__vk img {
  width: 32px;
  height: 32px;
}
.contacts-icon__vk:hover,
.contacts-icon__vk:focus,
.contacts-icon__vk:active {
  border: none;
  box-shadow: 0 0 20px #4680c2;
}
.contacts-icon__github {
  background-color: #fff;
}
.contacts-icon__github img {
  max-width: 110%;
}
.contacts-icon__github:hover,
.contacts-icon__github:focus,
.contacts-icon__github:active {
  border: none;
  box-shadow: 0 0 20px #181818;
}
.contacts-icon__discord {
  background-color: #fff;
}
.contacts-icon__discord img {
  max-width: 110%;
  margin-top: 6px;
}
.contacts-icon__discord:hover,
.contacts-icon__discord:focus,
.contacts-icon__discord:active {
  border: none;
  box-shadow: 0 0 20px #7289da;
}
.header {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 113px 0 100px;
}
@media (min-width: 768px) {
  .header {
    padding: 150px 0 155px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 266px 0 238px;
    background-image: url("../img/lines-5.jpg");
    background-position: center;
    background-size: contain;
  }
}
#page-nav {
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 100;
  display: none;
  transform: translateY(-50%);
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
  }
}
#page-nav li {
  width: 14px;
  height: 14px;
  margin-bottom: 26px;
  background-color: #039be5;
  border-radius: 50%;
  transition: 0.5s ease;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li a:focus {
  border: none;
}
#page-nav li:hover {
  background-color: #ea736d;
}
#page-nav .current {
  background-color: #ea736d;
}
.navbar {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 63px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px) grayscale(70%);
          backdrop-filter: blur(5px) grayscale(70%);
  transition: height 0.2s linear;
}
@media (min-width: 768px) {
  .navbar {
    top: 30px;
    transition: width 0.2s linear, height 0.2s linear;
  }
}
@media (min-width: 1200px) {
  .navbar {
    top: 60px;
    right: unset;
    left: auto;
    background-image: url("../img/lines-5.jpg");
    background-position: center;
    background-size: contain;
    background-repeat-x: no-repeat;
  }
}
.navbar--fixed {
  position: fixed;
  top: 0;
  background-image: unset;
}
.navbar__logo {
  color: #000;
  font-weight: 900;
  font-size: 42px;
  transition: color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__logo span {
  display: block;
}
.navbar__logo span::before {
  bottom: 18%;
  transition: transform 0.4s ease, background-color 0.4s ease;
}
.navbar__logo span:hover::before,
.navbar__logo:focus span::before {
  background-color: #ea736d;
  transform: rotatex(180deg);
}
.navbar__logo:focus,
.navbar__logo:hover {
  color: #464646;
  border: none;
}
.navbar__menu {
  position: absolute;
  top: 63px;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0 0 15px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.59, -0.72, 0.44, 1.82);
}
@media (min-width: 768px) {
  .navbar__menu {
    left: 25px;
    width: unset;
    padding: 20px 15px 0 0;
  }
}
@media (min-width: 1200px) {
  .navbar__menu {
    left: unset;
    padding: 0;
  }
}
.navbar__menu.act {
  transform: scale(1);
  opacity: 1;
}
.navbar__menu.act > div,
.navbar__menu.act .link {
  transform: translateX(0%);
  opacity: 1;
}
.navbar__menu > div {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.15s 0.21s;
}
.navbar__menu > div:nth-child(2) {
  transition-delay: 0.36s;
}
.navbar__menu .link {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.15s 0.51s;
}
@media (min-width: 1200px) {
  .navbar__menu {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: unset;
    height: unset;
    padding-top: 0;
    padding-left: 0;
    font-size: 22px;
    background-color: unset;
    transform: none;
    opacity: 1;
  }
  .navbar__menu div {
    transform: none;
    opacity: 1;
    transition: none;
  }
  .navbar__menu .header-contacts__icons {
    display: flex;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .navbar__menu .header-contacts__icons {
    display: none;
  }
}
.navbar__menu-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 19px;
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper {
    flex-direction: row;
  }
}
.navbar__menu-wrapper > a {
  position: relative;
  z-index: 2;
  margin: 0 0 10px 0;
  padding: 5px 0;
  color: #000;
  text-decoration: underline;
}
.navbar__menu-wrapper > a.active {
  color: #ea736d;
  pointer-events: none;
}
.navbar__menu-wrapper > a:active {
  color: #ea736d;
}
.navbar__menu-wrapper > a:last-child {
  margin: 0 0 35px 0;
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper > a:last-child {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper > a {
    flex-direction: row;
    margin: 0 80px 0 0;
    text-decoration: none;
  }
  .navbar__menu-wrapper > a::before {
    position: absolute;
    bottom: 2px;
    left: -5px;
    z-index: -1;
    width: 0;
    height: 5px;
    background-color: #039be5;
    transition: 0.2s ease;
    content: "";
  }
  .navbar__menu-wrapper > a:hover::before,
  .navbar__menu-wrapper > a:active::before {
    width: 110%;
  }
  .navbar__menu-wrapper > a:focus {
    margin: -3px 77px -3px -3px;
  }
  .navbar__menu-wrapper > a:focus:last-child {
    margin-right: -3px;
  }
}
.navbar__btn {
  position: relative;
  width: 40px;
  height: 25px;
  margin-right: 10px;
}
.navbar__btn span {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: height 0.1s;
}
.navbar__btn span::after,
.navbar__btn span::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: all 0.2s;
  content: "";
}
.navbar__btn span::after {
  top: -10px;
}
.navbar__btn span::before {
  top: 10px;
}
.navbar__btn.act > span {
  height: 0;
}
.navbar__btn.act > span:after,
.navbar__btn.act > span:before {
  top: 1px;
}
.navbar__btn.act > span:after {
  transform: rotate(45deg);
}
.navbar__btn.act > span:before {
  transform: rotate(-45deg);
}
@media (min-width: 1200px) {
  .navbar__btn {
    display: none;
  }
}
.navbar__contacts {
  display: none;
}
@media (min-width: 1200px) {
  .navbar__contacts {
    display: flex;
  }
}
.navbar__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: filter 0.2s ease;
}
.navbar__icon:focus {
  border: none;
}
.navbar__icon svg {
  width: 30px;
  height: 30px;
}
.navbar__icon:last-child {
  margin-right: 0;
}
.navbar__icon path {
  transition: fill 0.2s ease;
  fill: #181818;
}
.navbar .link {
  display: inline-block;
}
@media (min-width: 1200px) {
  .navbar .link {
    display: none;
  }
}
.navbar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .navbar-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .navbar-wrapper {
    padding: 0 15px;
  }
}
.header-coder {
  z-index: 1;
  flex: 0 1 50%;
}
@media (min-width: 768px) {
  .header-coder {
    flex: 0 1 44%;
  }
}
@media (min-width: 1200px) {
  .header-coder {
    flex: 0 1 50%;
  }
}
.header-coder__title {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .header-coder__title {
    margin-bottom: 20px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .header-coder__title {
    margin-bottom: 15px;
    font-size: 90px;
  }
}
.header-coder__desc {
  z-index: 1;
  margin-bottom: 32px;
  color: #393f47;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .header-coder__desc {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.header-coder__greeting {
  margin-right: 17px;
}
.header-coder .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-coder .btn {
    display: inline-block;
  }
}
.header-avatar {
  position: relative;
  z-index: 2;
  flex: 0 1 50%;
  order: -1;
  max-width: 460px;
  max-height: 433px;
  margin-bottom: 50px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .header-avatar {
    flex: 0 1 44%;
    order: unset;
    padding: 10px 25px 0;
  }
}
@media (min-width: 1200px) {
  .header-avatar {
    flex: 0 1 50%;
    margin-bottom: 0;
    padding: 27px 0 0;
  }
  .header-avatar::before {
    position: absolute;
    top: 20%;
    right: 0;
    left: 25%;
    z-index: -1;
    width: 75%;
    height: 100%;
    background: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    content: "";
  }
}
.header-background-img {
  z-index: 2;
  max-width: 1600px;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header-background-img img {
  margin-bottom: 40px;
  transform: scale(1.5);
}
@media (min-width: 540px) {
  .header-background-img img {
    margin-bottom: 0;
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-background-img {
    margin: -125px auto 0;
  }
}
.header-experience {
  z-index: 1;
  flex: 1 1 60%;
}
.header-experience__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 768px) {
  .header-experience__title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .header-experience__title {
    font-size: 40px;
  }
}
.header-experience__desc {
  margin-bottom: 0;
  font-size: 18px;
}
.header-experience__desc li {
  margin-bottom: 15px;
}
.header-experience__desc li::first-letter {
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .header-experience__desc {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .header-experience__desc li {
    margin-bottom: 3px;
  }
  .header-experience__desc li::before {
    content: "— ";
  }
  .header-experience__desc li::first-letter {
    text-transform: none;
  }
}
.header-experience .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-experience .btn {
    display: inline-block;
  }
}
.header-contacts {
  flex: 0 1 32%;
}
.header-contacts__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 768px) {
  .header-contacts__title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .header-contacts__title {
    margin-bottom: 32px;
    font-size: 40px;
  }
}
.header-contacts__icons {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .header-contacts__icons {
    margin-bottom: 23px;
  }
}
.header-contacts__email {
  font-size: 18px;
}
.header-contacts__email span {
  color: #039be5;
  border-color: #039be5;
}
@media (min-width: 768px) {
  .header-contacts__email {
    font-size: 20px;
  }
  .header-contacts__email span {
    color: unset;
    border-color: unset;
  }
}
@media (min-width: 1200px) {
  .header-contacts__email {
    padding-left: 6px;
    font-size: 24px;
  }
}
.header-contacts__email:focus {
  margin: -3px;
}
.portfolio {
  padding: 45px 0 100px;
  text-align: center;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .portfolio {
    padding: 65px 0 110px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding: 100px 0 65px;
  }
}
.portfolio__title {
  margin-bottom: 46px;
}
.portfolio__pagination {
  display: none;
}
@media (min-width: 768px) {
  .portfolio__pagination {
    display: flex;
    margin-bottom: 45px;
    font-weight: 800;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio__pagination {
    display: flex;
    margin-bottom: 38px;
    font-size: 28px;
  }
}
.portfolio__pagination a {
  margin-right: 50px;
  color: #8fa5ae;
  outline: none;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .portfolio__pagination a {
    margin-right: 80px;
  }
}
.portfolio__pagination a.active {
  color: #000;
}
.portfolio__pagination a:hover,
.portfolio__pagination a:active {
  color: #ea736d;
  border: none;
}
.portfolio__pagination a:focus {
  margin: -3px 47px -3px -3px;
  border: 3px dotted #ea736d;
}
@media (min-width: 1200px) {
  .portfolio__pagination a:focus {
    margin: -3px 77px -3px -3px;
  }
}
.portfolio__pagination a:last-child {
  margin-right: 0;
}
.portfolio__link {
  border-bottom: 1px solid #039be5;
}
.portfolio__link span::before {
  font-size: 20px;
  content: "Смотреть все работы";
}
.portfolio__link span.show::before {
  content: "Свернуть работы";
}
@media (min-width: 1200px) {
  .portfolio__link {
    display: none;
  }
}
.portfolio-row {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (min-width: 768px) {
  .portfolio-row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.portfolio-card {
  flex: 0 1 32%;
  margin-bottom: 35px;
}
.portfolio-card:not(:nth-child(-n + 4)) {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card {
    flex: 0 1 49%;
    margin-right: 10px;
  }
  .portfolio-card:nth-child(2n) {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .portfolio-card {
    flex: 0 1 32%;
    margin-right: 22px;
    margin-bottom: 60px;
  }
  .portfolio-card:nth-child(3n + 2) {
    margin-right: 0;
    margin-left: auto;
  }
  .portfolio-card:not(:nth-child(-n + 4)) {
    display: block;
  }
  .portfolio-card:nth-child(-n + 2) {
    flex: 0 1 49%;
  }
  .portfolio-card:nth-child(-n + 2) .portfolio-card__img {
    max-height: 350px;
    margin-bottom: 22px;
    overflow: hidden;
  }
  .portfolio-card:nth-child(-n + 2) .portfolio-card__title h3 {
    font-size: 32px;
  }
  .portfolio-card:nth-child(-n + 2) .portfolio-card__desc {
    font-size: 22px;
  }
}
.portfolio-card:last-child {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .portfolio-card:last-child {
    margin-bottom: unset;
  }
}
.portfolio-card__img {
  position: relative;
  max-height: 230px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #039be5;
}
.portfolio-card__img img {
  min-width: 105%;
  min-height: 105%;
  transition: opacity 0.8s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portfolio-card__img:hover img,
.portfolio-card__img:active img {
  opacity: 0.3;
  transition: opacity 0.8s ease;
}
.portfolio-card__img:hover .portfolio-card__btn {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.5s ease;
}
.portfolio-card__btn {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 276px;
  padding-top: 0;
  color: #ea736d;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  background-color: rgba(244, 248, 249, 0.7);
  transform: translate(-50%);
  opacity: 0;
  transition: 0.5s ease;
}
.portfolio-card__btn:hover {
  color: #fff;
  background-color: rgba(234, 115, 109, 0.8);
  transition: 0.2s ease;
}
.portfolio-card__btn:active {
  color: #fff;
  background-color: #e44840;
  transition: 0.2s ease;
}
.portfolio-card__btn:focus {
  border: none;
}
.portfolio-card__title h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .portfolio-card__title h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card__title h3 {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
.portfolio-card__title h3 a:focus {
  margin: -3px;
}
.portfolio-card__desc {
  font-weight: 300;
  font-size: 16px;
}
@media (min-width: 768px) {
  .portfolio-card__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card__desc {
    font-size: 20px;
  }
}
.portfolio-card .link {
  padding: 0;
  color: #212529;
}
.portfolio-card .link:hover,
.portfolio-card .link:active {
  color: #ea736d;
  border-bottom: 1px solid #ea736d;
}
.planning {
  max-width: 1600px;
  margin: 0 auto;
  padding: 55px 0 65px;
}
@media (min-width: 768px) {
  .planning {
    padding: 85px 0 85px;
  }
}
@media (min-width: 1200px) {
  .planning {
    padding: 125px 0 115px;
    background-image: url("../img/planning/line-4.png");
    background-position: center;
    background-size: contain;
  }
}
.planning__title {
  margin-bottom: 50px;
  text-align: center;
}
.planning__title h2 {
  font-size: 32px;
}
@media (min-width: 768px) {
  .planning__title {
    margin-bottom: 145px;
  }
  .planning__title h2 {
    font-size: unset;
  }
}
.planning-card-wrapper {
  max-width: 1005px;
  margin: 0 auto;
}
.planning-card {
  position: relative;
  display: flex;
  margin-right: 0;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .planning-card {
    width: calc(50% + 37px);
    margin-bottom: 85px;
    margin-left: auto;
  }
  .planning-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
  }
  .planning-card:nth-child(odd) div:nth-child(even) {
    order: -1;
    margin-right: 40px;
    margin-left: auto;
    text-align: right;
  }
  .planning-card:first-child::after {
    position: absolute;
    right: 37px;
    bottom: calc(100% + 20px);
    width: 4px;
    height: 57px;
    background-color: #e1eef4;
    border-radius: 2px;
    transform: translateX(50%);
    content: "";
  }
}
@media (min-width: 1200px) {
  .planning-card {
    width: calc(50% + 37px);
    margin-bottom: 85px;
    margin-left: auto;
  }
  .planning-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
  }
  .planning-card:nth-child(odd) div:nth-child(even) {
    order: -1;
    margin-right: 40px;
    margin-left: auto;
    text-align: right;
  }
  .planning-card:first-child::after {
    position: absolute;
    right: 37px;
    bottom: calc(100% + 20px);
    width: 4px;
    height: 57px;
    background-color: #e1eef4;
    border-radius: 2px;
    transform: translateX(50%);
    content: "";
  }
}
.planning-card:last-child {
  margin-bottom: 0;
}
.planning-card:last-child div::before {
  display: none;
}
.planning-card:hover .title-line--sm::before {
  background-color: #ea736d;
  transition: background-color 0.5s ease;
}
.planning-card__img-wrapper {
  position: relative;
  margin-bottom: -41px;
}
.planning-card__img-wrapper::before {
  position: absolute;
  top: 94px;
  left: 50%;
  width: 4px;
  height: calc(100% - 94px);
  background-color: #e1eef4;
  border-radius: 2px;
  transform: translateX(-50%);
  content: "";
}
@media (min-width: 1200px) {
  .planning-card__img-wrapper::before {
    height: calc(100% - 74px);
  }
}
.planning-card__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  box-shadow: 3px 1px 35px rgba(0, 112, 187, 0.35);
  transition: all 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.planning-card__img img {
  z-index: 0;
  width: 40px;
  height: 40px;
}
.planning-card__action {
  justify-content: flex-start;
  margin-left: 25px;
}
@media (min-width: 1200px) {
  .planning-card__action {
    margin-right: auto;
    margin-left: 48px;
  }
}
.planning-card__title {
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 19px;
  transition: all 0.2s linear;
}
@media (min-width: 768px) {
  .planning-card__title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .planning-card__title {
    padding-top: 16px;
    font-size: 26px;
  }
}
.planning-card__desc {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.45;
}
@media (min-width: 768px) {
  .planning-card__desc {
    font-size: 16px;
  }
  .planning-card__desc b {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .planning-card__desc {
    font-size: 18px;
  }
}
.planning-card__desc p {
  margin-bottom: 10px;
}
.planning-card__desc p:last-child {
  margin-bottom: 0;
}
@keyframes pc-2 {
  25% {
    right: 26px;
    left: 21px;
  }
  50% {
    right: 26px;
    left: 50px;
  }
  75% {
    right: 26px;
    left: 21px;
  }
  100% {
    right: 50px;
    left: 21px;
  }
}
#pc2-anim::before {
  position: absolute;
  top: 26px;
  right: 50px;
  left: 21px;
  height: 18px;
  background-color: #ff5b5b;
  animation: pc-2 ease-in-out 3s infinite;
  content: "";
}
#pc2:hover #pc2-anim::before,
#pc2.hover #pc2-anim::before {
  animation-play-state: paused;
}
#pc4-anim img {
  opacity: 0.3;
  transition: opacity 1.5s ease;
}
#pc4-anim i {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 58px;
  height: 62px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.25;
  opacity: 1;
  transition: opacity 1.5s ease;
}
#pc4:hover img,
#pc4.hover img {
  opacity: 1;
  transition: opacity 1.5s ease;
}
#pc4:hover i,
#pc4.hover i {
  opacity: 0;
  transition: opacity 1.5s ease;
}
.planning-act h3 {
  transition: all 0.2s linear;
}
.planning-act:hover .title-line--sm::before,
.planning-act span::before {
  background-color: unset;
}
#pc1.planning-act .planning-card__img {
  box-shadow: 3px 1px 35px #ffcf8f;
}
#pc1.planning-act h3 {
  color: #ffcf8f;
}
#pc2.planning-act .planning-card__img {
  box-shadow: 3px 1px 35px #ff5b5b;
}
#pc2.planning-act h3 {
  color: #ff5b5b;
}
#pc3.planning-act .planning-card__img {
  box-shadow: 3px 1px 35px #ac74ee;
}
#pc3.planning-act h3 {
  color: #ac74ee;
}
#pc4.planning-act .planning-card__img {
  box-shadow: 3px 1px 35px #51e5cb;
}
#pc4.planning-act h3 {
  color: #51e5cb;
}
#pc5.planning-act .planning-card__img {
  box-shadow: 3px 1px 35px #7cc0ff;
}
#pc5.planning-act h3 {
  color: #7cc0ff;
}
.contacts {
  margin: 0 auto;
  padding: 45px 0 60px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .contacts {
    padding: 85px 0 125px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 125px 0 150px;
  }
}
.contacts__title {
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 56px;
  }
}
.contacts-left-side {
  position: relative;
  max-width: 555px;
  font-size: 16px;
  line-height: 1.75;
}
@media (min-width: 768px) {
  .contacts-left-side {
    flex: 0 1 48%;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts-left-side {
    z-index: 2;
    flex: unset;
    font-size: 20px;
    line-height: unset;
  }
}
.contacts-left-side div:nth-last-child(2) {
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .contacts-left-side div:nth-last-child(2) {
    margin-bottom: 32px;
  }
}
.contacts-left-side div:nth-last-child(1) {
  padding: 0;
}
.contacts-left-side__call-to-me {
  margin-bottom: 10px;
  padding-top: 0;
}
@media (min-width: 768px) {
  .contacts-left-side__call-to-me {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-left-side__call-to-me {
    margin-bottom: 35px;
    padding-top: 22px;
  }
}
.contacts-left-side__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: -6px;
  padding: 8px 0;
  font-size: 18px;
}
.contacts-left-side__list b {
  width: 40%;
  margin-bottom: -5px;
}
@media (min-width: 1200px) {
  .contacts-left-side__list {
    flex-direction: row;
    margin-bottom: 6px;
    font-size: 20px;
  }
  .contacts-left-side__list::before {
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: -350px;
    z-index: -1;
    background-image: url("../img/bg-02.png");
    background-repeat: no-repeat;
    content: "";
  }
}
.contacts-left-side__list a {
  color: #039be5;
  transition: color 0.2s ease;
}
.contacts-left-side__list a:active,
.contacts-left-side__list a:hover {
  color: #ea736d;
}
.contacts-left-side__list a:focus {
  margin: -3px;
}
.contacts-left-side__list span {
  color: #96969d;
}
.contacts-left-side .contacts-icon {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts-left-side .contacts-icon {
    margin-bottom: 0;
  }
}
.contacts-right-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 510px;
  padding: 60px 15px 40px;
  background-color: #fff;
  box-shadow: 0 28px 100px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-right-side {
    flex: 0 1 48%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px 0 0;
    padding: 60px 25px 40px;
  }
}
@media (min-width: 1200px) {
  .contacts-right-side {
    height: unset;
    margin: 0;
    margin-right: 22px;
    padding: 80px 60px 40px;
  }
}
.contacts-right-side form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacts-right-side input:not([type="submit"]) {
  height: 40px;
  margin-bottom: 59px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  border-radius: 1px;
  transition: 0.5s ease;
}
.contacts-right-side input:not([type="submit"]):hover,
.contacts-right-side input:not([type="submit"]):focus {
  border-color: #ea736d;
}
.contacts-right-side input[type="submit"] {
  width: 100%;
  margin-right: auto;
  padding-top: 0;
}
@media (min-width: 1200px) {
  .contacts-right-side input[type="submit"] {
    width: unset;
  }
}
.contacts-right-side textarea {
  position: relative;
  width: 100%;
  height: 115px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  resize: none;
}
.contacts-right-side textarea:hover,
.contacts-right-side textarea:focus {
  border-color: #ea736d;
}
@media (min-width: 1200px) {
  .contacts-right-side textarea {
    margin-bottom: 40px;
  }
}
.contacts-right-side__email {
  position: absolute;
  top: 5px;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side input[type="email"]:focus + span,
.contacts-right-side input[type="email"]:not(:placeholder-shown) + span {
  top: -20px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
.contacts-right-side__title {
  position: absolute;
  top: 105px;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side input[type="text"]:focus + span,
.contacts-right-side input[type="text"]:not(:placeholder-shown) + span {
  top: 80px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
.contacts-right-side__text {
  position: absolute;
  top: 202px;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side textarea:focus + span.contacts-right-side__text,
.contacts-right-side textarea:not(:placeholder-shown) + span.contacts-right-side__text {
  top: 177px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
.footer {
  padding: 22px 0 20px;
  background-color: #333;
}
.footer h4 {
  margin-bottom: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.footer p {
  color: #b0b0b0;
  font-size: 16px;
  line-height: 1.8;
}
.footer .link {
  color: #b0b0b0;
}
.footer .link span {
  border-color: #b0b0b0;
}
.footer .link:hover span,
.footer .link:active span {
  color: #fff;
  border-color: #fff;
}
#footerBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0 180px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f4f8f9;
  background-image: url("../img/bg-03.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (min-width: 768px) {
  #footerBy {
    padding: 75px 0 230px;
  }
  #footerBy h3 {
    margin-bottom: 20px;
    font-size: 38px;
  }
  #footerBy p {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  #footerBy {
    padding: 75px 0 470px;
  }
  #footerBy h3 {
    margin-bottom: 30px;
    font-size: 42px;
  }
  #footerBy p {
    font-size: 36px;
  }
}
#footerBy h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
}
#footerBy p {
  margin-bottom: 35px;
  font-weight: 100;
  font-size: 22px;
}
#footerBy .link {
  color: #039be5;
}
#footerBy .link span {
  border-bottom: 1px solid #039be5;
}
#footerBy .link:hover span,
#footerBy .link:active span {
  color: #ea736d;
  border-color: #ea736d;
}
#footerBy .link:focus {
  margin: -3px;
}
#footerBy .contacts-icons {
  justify-content: center;
}
#works-header.header {
  padding: 100px 0 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  #works-header.header {
    padding: 120px 0 0;
  }
}
@media (min-width: 1200px) {
  #works-header.header {
    padding: 220px 0 0;
    background-image: unset;
  }
}
#works-header .navbar {
  background-color: rgba(244, 248, 249, 0.7);
  background-image: unset;
}
#works-portfolio.portfolio {
  text-align: center;
  background-color: #f4f8f9;
}
#projects-header.header {
  padding: 100px 0 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  #projects-header.header {
    padding: 120px 0 0;
  }
}
@media (min-width: 1200px) {
  #projects-header.header {
    padding: 120px 0 0;
    background-image: unset;
  }
}
#projects-header .navbar {
  background-color: rgba(244, 248, 249, 0.7);
  background-image: unset;
}
#projects {
  padding: 30px 0 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  #projects {
    padding: 65px 0 45px;
  }
}
@media (min-width: 1200px) {
  #projects {
    padding: 100px 0 75px;
  }
}
#projects .row__sb {
  flex-direction: row;
  flex-wrap: wrap;
}
.projects-header {
  background-color: #f4f8f9;
}
.projects-header__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
.projects-header__title span {
  display: inline-block;
}
.projects-header__title span::before {
  bottom: 15%;
}
@media (min-width: 1200px) {
  .projects-header__title {
    font-size: 48px;
  }
  .projects-header__title span {
    display: unset;
  }
  .projects-header__title span::before {
    bottom: 10%;
  }
}
.projects-header__used {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  color: #f4f8f9;
}
@media (min-width: 1200px) {
  .projects-header__used {
    margin-bottom: 90px;
  }
}
.projects-header__used span {
  margin: 0 5px 10px;
  padding: 8px 10px;
  line-height: 1;
}
.projects-header .html {
  background-color: #ff861a;
}
.projects-header .css {
  background-color: #039be5;
}
.projects-header .bootstrap {
  background-color: #a062c7;
}
.projects-header .js {
  background-color: #ffd200;
}
.projects-header .jquery {
  background-color: #044d85;
}
.projects-header .php {
  background-color: #777bb4;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .projects-container {
    flex-direction: row;
    margin-bottom: 110px;
  }
}
.projects-container__left-side {
  flex: 0 1 40%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .projects-container__left-side {
    column-count: 2;
  }
}
.projects-container__left-side h3 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 22px;
}
.projects-container__left-side h3 .title-line--sm::before {
  display: block;
}
@media (min-width: 1200px) {
  .projects-container__left-side h3 {
    font-size: 26px;
  }
}
.projects-container__links {
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .projects-container__links {
    margin-bottom: 50px;
  }
}
.projects-container__links > a {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  border: none;
}
.projects-container__links > a:hover,
.projects-container__links > a:active,
.projects-container__links > a:focus {
  outline: none;
}
.projects-container__links > a:hover .contacts-icon,
.projects-container__links > a:active .contacts-icon,
.projects-container__links > a:focus .contacts-icon,
.projects-container__links > a:hover .browser,
.projects-container__links > a:active .browser,
.projects-container__links > a:focus .browser {
  box-shadow: 0 0 20px #181818;
}
.projects-container__links > a:hover span,
.projects-container__links > a:active span,
.projects-container__links > a:focus span {
  color: #ea736d;
  border-color: #ea736d;
}
.projects-container__links .browser {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  margin-left: 2px;
  border-radius: 12%;
  transition: box-shadow 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.projects-container__links .contacts-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #f4f8f9;
}
.projects-container__links .contacts-icon img {
  margin-left: 5%;
}
.projects-container__links .link span {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.projects-container__about {
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .projects-container__about {
    margin-bottom: 60px;
  }
}
.projects-container__about p {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .projects-container__misc {
    display: inline-block;
    margin-left: 7px;
  }
}
.projects-container__misc ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}
.projects-container__misc ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.projects-container__misc ul li p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .projects-container__misc ul li {
    flex-direction: row;
    margin-bottom: 20px;
  }
}
.projects-container__misc ul li:last-child {
  margin-bottom: 0;
}
.projects-container__misc ul li b {
  min-width: 165px;
  font-weight: 800;
}
.projects-container__misc ul li a:focus {
  color: #ea736d;
}
@media (min-width: 1200px) {
  .projects-container__misc ul li a:focus {
    margin: -3px;
  }
}
.projects-container__right-side {
  position: relative;
  flex: 0 1 58%;
  order: -1;
  max-height: 60vh;
  margin-bottom: 60px;
  overflow: hidden;
  box-shadow: 20px 20px 100px #c4dbe9;
}
.projects-container__right-side img {
  position: static;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1200px) {
  .projects-container__right-side {
    order: unset;
    max-height: unset;
    margin-bottom: 0;
  }
  .projects-container__right-side img {
    position: absolute;
  }
}
@keyframes btn-left {
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes btn-left-after {
  50% {
    transform: translateX(-20%) rotate(-45deg);
  }
  100% {
    transform: translateX(0) rotate(-45deg);
  }
}
@keyframes btn-right {
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes btn-right-after {
  50% {
    transform: translateX(20%) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(45deg);
  }
}
.projects-btn {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  margin: auto 0;
  border-radius: 50%;
  cursor: pointer;
}
.projects-btn:hover::before,
.projects-btn:hover::after {
  animation-play-state: paused;
}
.projects-btn::before {
  position: absolute;
  top: 23px;
  width: 25px;
  height: 2px;
  background-color: #039be5;
  filter: drop-shadow(0 0 3px #039be5);
  content: "";
}
.projects-btn::after {
  position: absolute;
  top: 14px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #039be5;
  border-radius: 2px;
  filter: drop-shadow(0 0 3px #039be5);
  content: "";
}
@media (min-width: 768px) {
  .projects-btn {
    display: inline-block;
  }
}
.projects-btn__left::before {
  left: 16px;
  animation: btn-left linear 2s infinite;
}
.projects-btn__left::after {
  left: 17px;
  border-left: 2px solid #039be5;
  transform: rotate(-45deg);
  animation: btn-left-after linear 2s infinite;
}
.projects-btn__right::before {
  right: 16px;
  animation: btn-right linear 2s infinite;
}
.projects-btn__right::after {
  right: 17px;
  border-right: 2px solid #039be5;
  transform: rotate(45deg);
  animation: btn-right-after linear 2s infinite;
}
.projects-btn:hover,
.projects-btn:focus {
  background-color: rgba(3, 155, 229, 0.2);
  border: none;
  outline: none;
}
.projects-btn:active {
  background-color: rgba(3, 155, 229, 0.3);
}
.owl-carousel-wrapper {
  position: relative;
  order: -1;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .owl-carousel-wrapper {
    order: unset;
    width: 90%;
  }
}
.owl-carousel__img {
  max-height: 130px;
  margin: 0 5px;
  background-color: #039be5;
}
.owl-carousel__img img {
  opacity: 1;
  transition: opacity 0.5s ease, filter 0.2s linear;
}
.owl-carousel__img:hover,
.owl-carousel__img a:focus {
  border: none;
}
.owl-carousel__img:hover img,
.owl-carousel__img a:focus img {
  opacity: 0.5;
  filter: grayscale();
}
@media (min-width: 1200px) {
  .owl-carousel__img {
    max-width: 280px;
    max-height: 130px;
  }
}
#contacts-header.header {
  padding: 100px 0 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  #contacts-header.header {
    padding: 100px 0 0;
  }
}
@media (min-width: 1200px) {
  #contacts-header.header {
    padding: 195px 0 0;
    background-image: unset;
  }
}
#contacts-header .navbar {
  background-color: rgba(244, 248, 249, 0.7);
  background-image: unset;
}
#contacts-contacts .contacts {
  background-color: #f4f8f9;
}
/*# sourceMappingURL=./main.css.map */