html {
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #84d6fd;
}
*::selection {
  background-color: #84d6fd;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-size: unset;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  outline: none;
}
@media (min-width: 1200px) {
  a:focus {
    border: 3px dotted #ea736d;
  }
}
button,
input {
  border: none;
  outline: none;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .row {
    flex-direction: row;
  }
}
.row.row__sb {
  justify-content: space-between;
}
.row__myskills {
  margin-top: -95px;
  padding-top: 80px;
}
.title {
  color: #000;
  font-weight: 800;
}
.title.title__section {
  font-size: 42px;
}
@media (min-width: 1200px) {
  .title.title__section {
    font-size: 64px;
  }
}
.title-line {
  position: relative;
  z-index: 0;
}
.title-line::before {
  position: absolute;
  right: -5px;
  bottom: 10%;
  left: -5px;
  z-index: -1;
  height: 10px;
  background-color: #039be5;
  content: "";
}
.title-line.title-line--lg::before {
  right: -2px;
  bottom: 12%;
  left: -2px;
  height: 12px;
}
@media (min-width: 1200px) {
  .title-line.title-line--lg::before {
    bottom: 17%;
  }
}
.title-line.title-line--sm::before {
  right: 0;
  bottom: 10%;
  left: 0;
  display: none;
  height: 7px;
  transition: background-color 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .title-line.title-line--sm::before {
    display: block;
  }
}
.link {
  padding: 8px 0;
  color: #000;
}
.link span {
  border-bottom: 1px solid #000;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.link:hover span {
  color: #039be5;
  border-color: #039be5;
}
.link:active span {
  color: #ea736d;
  border-color: #ea736d;
}
.btn {
  display: inline-block;
  height: 54px;
  padding: 10px 36px 0;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  transition: color 0.2s ease, border 0.2s ease;
}
@media (min-width: 1200px) {
  .btn {
    height: 64px;
    font-size: 22px;
  }
  .btn:focus {
    border: 4px dotted #ea736d;
  }
}
.btn-filled {
  color: #000;
  background-color: #039be5;
  border: 4px solid transparent;
  transition: background-color 0.2s ease;
}
.btn-filled:hover {
  color: #000;
  background-color: #038acc;
}
.btn-filled:active {
  color: #000;
  background-color: #0279b3;
}
.btn-empty {
  color: #464646;
  border: 4px solid #464646;
  transition: color 0.2s ease, border 0.2s ease;
}
.btn-empty:hover {
  color: #797979;
  border-color: #797979;
}
.btn-empty:active {
  color: #181818;
  border-color: #181818;
}
.icon-vk:hover path,
.icon-vk:focus path {
  fill: #4680c2;
}
.icon-github:hover path,
.icon-github:focus path {
  fill: #6cc644;
}
.icon-discord:hover path,
.icon-discord:focus path {
  fill: #7289da;
}
.contacts-icons {
  display: flex;
}
@media (min-width: 1200px) {
  .contacts-icons {
    padding-left: 6px;
  }
}
.contacts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contacts-icon:last-child {
  margin-right: 0;
}
.contacts-icon__vk {
  background-color: #4680c2;
}
.contacts-icon__vk img {
  width: 32px;
  height: 32px;
}
.contacts-icon__vk:hover,
.contacts-icon__vk:focus,
.contacts-icon__vk:active {
  border: none;
  box-shadow: 0 0 20px #4680c2;
}
.contacts-icon__github {
  background-color: #fff;
}
.contacts-icon__github img {
  max-width: 110%;
}
.contacts-icon__github:hover,
.contacts-icon__github:focus,
.contacts-icon__github:active {
  border: none;
  box-shadow: 0 0 20px #181818;
}
.contacts-icon__discord {
  background-color: #fff;
}
.contacts-icon__discord img {
  max-width: 110%;
  margin-top: 6px;
}
.contacts-icon__discord:hover,
.contacts-icon__discord:focus,
.contacts-icon__discord:active {
  border: none;
  box-shadow: 0 0 20px #7289da;
}
.header {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 113px 0 100px;
}
@media (min-width: 1200px) {
  .header {
    padding: 266px 0 238px;
    background-image: url("../img/lines-5.jpg");
    background-position: center;
    background-size: contain;
  }
}
#page-nav {
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 100;
  display: none;
  transform: translateY(-50%);
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
  }
}
#page-nav li {
  width: 14px;
  height: 14px;
  margin-bottom: 26px;
  background-color: #039be5;
  border-radius: 50%;
  transition: 0.5s ease;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li a:focus {
  border: none;
}
#page-nav li:hover {
  background-color: #ea736d;
}
#page-nav .current {
  background-color: #ea736d;
}
.navbar {
  position: absolute;
  top: -64px;
  left: auto;
  z-index: 10;
  width: 100%;
  padding-top: 84px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px) grayscale(70%);
          backdrop-filter: blur(5px) grayscale(70%);
}
@media (min-width: 1200px) {
  .navbar {
    padding-top: 124px;
  }
}
.navbar--fixed {
  position: fixed;
  top: 0;
  padding-top: 0;
  transition: top 0.3s linear;
}
.navbar__logo {
  color: #000;
  font-weight: 900;
  font-size: 42px;
  transition: color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__logo span {
  display: block;
}
.navbar__logo span::before {
  bottom: 18%;
  transition: transform 0.4s ease, background-color 0.4s ease;
}
.navbar__logo span:hover::before,
.navbar__logo:focus span::before {
  background-color: #ea736d;
  transform: rotatex(180deg);
}
.navbar__logo:focus,
.navbar__logo:hover {
  color: #464646;
  border: none;
}
.navbar__menu {
  position: absolute;
  top: 63px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.59, -0.72, 0.44, 1.82);
}
.navbar__menu.act {
  transform: scale(1);
  opacity: 1;
  -webkit-backdrop-filter: blur(5px) grayscale(70%);
          backdrop-filter: blur(5px) grayscale(70%);
}
.navbar__menu.act > div,
.navbar__menu.act .link {
  transform: translateX(0%);
  opacity: 1;
}
.navbar__menu > div {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.25s 0.31s;
}
.navbar__menu > div:nth-child(2) {
  transition-delay: 0.56s;
}
.navbar__menu .link {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.25s 0.81s;
}
@media (min-width: 1200px) {
  .navbar__menu {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: unset;
    height: unset;
    padding-top: 0;
    padding-left: 0;
    font-size: 22px;
    background-color: unset;
    transform: none;
    opacity: 1;
  }
  .navbar__menu div {
    transform: none;
    opacity: 1;
    transition: none;
  }
  .navbar__menu .header-contacts__icons {
    display: flex;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .navbar__menu .header-contacts__icons {
    display: none;
  }
}
.navbar__menu-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 19px;
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper {
    flex-direction: row;
  }
}
.navbar__menu-wrapper > a {
  position: relative;
  z-index: 2;
  margin: 0 0 10px 0;
  padding: 5px 0;
  color: #000;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper > a {
    flex-direction: row;
    margin: 0 80px 0 0;
    text-decoration: none;
  }
}
.navbar__menu-wrapper > a:focus {
  margin: -3px 77px -3px -3px;
}
.navbar__menu-wrapper > a:last-child {
  margin: 0 0 35px 0;
}
@media (min-width: 1200px) {
  .navbar__menu-wrapper > a:last-child {
    margin: 0;
  }
}
.navbar__menu-wrapper > a:focus:last-child {
  margin-right: -3px;
}
.navbar__menu-wrapper > a::before {
  position: absolute;
  bottom: 2px;
  left: -5px;
  z-index: -1;
  width: 0;
  height: 5px;
  background-color: #039be5;
  transition: 0.2s ease;
  content: "";
}
.navbar__menu-wrapper > a:hover::before,
.navbar__menu-wrapper > a:active::before {
  width: 110%;
}
.navbar__btn {
  position: relative;
  width: 40px;
  height: 25px;
  margin-right: 10px;
}
.navbar__btn span {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: height 0.1s;
}
.navbar__btn span::after,
.navbar__btn span::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: all 0.2s;
  content: "";
}
.navbar__btn span::after {
  top: -10px;
}
.navbar__btn span::before {
  top: 10px;
}
.navbar__btn.act > span {
  height: 0;
}
.navbar__btn.act > span:after,
.navbar__btn.act > span:before {
  top: 1px;
}
.navbar__btn.act > span:after {
  transform: rotate(45deg);
}
.navbar__btn.act > span:before {
  transform: rotate(-45deg);
}
@media (min-width: 1200px) {
  .navbar__btn {
    display: none;
  }
}
.navbar__contacts {
  display: none;
}
@media (min-width: 1200px) {
  .navbar__contacts {
    display: flex;
  }
}
.navbar__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: filter 0.2s ease;
}
.navbar__icon:focus {
  border: none;
}
.navbar__icon svg {
  width: 30px;
  height: 30px;
}
.navbar__icon:last-child {
  margin-right: 0;
}
.navbar__icon path {
  transition: fill 0.2s ease;
  fill: #181818;
}
.navbar .link {
  display: inline-block;
}
@media (min-width: 1200px) {
  .navbar .link {
    display: none;
  }
}
.navbar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-coder {
  z-index: 1;
  flex: 0 1 50%;
}
.header-coder__title {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .header-coder__title {
    margin-bottom: 15px;
    font-size: 90px;
  }
}
.header-coder__desc {
  z-index: 1;
  margin-bottom: 32px;
  color: #393f47;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .header-coder__desc {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.header-coder__greeting {
  margin-right: 17px;
}
.header-coder .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-coder .btn {
    display: inline-block;
  }
}
.header-avatar {
  position: relative;
  z-index: 2;
  flex: 0 1 50%;
  order: -1;
  max-width: 460px;
  max-height: 433px;
  margin-bottom: 50px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1200px) {
  .header-avatar {
    order: 2;
    margin-bottom: 0;
    padding-top: 27px;
  }
  .header-avatar::before {
    position: absolute;
    top: 20%;
    right: 0;
    left: 25%;
    z-index: -1;
    width: 75%;
    height: 100%;
    background: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    content: "";
  }
}
.header-background-img {
  z-index: 2;
  max-width: 1600px;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header-background-img img {
  margin-bottom: 40px;
  transform: scale(1.5);
}
@media (min-width: 540px) {
  .header-background-img img {
    margin-bottom: 0;
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-background-img {
    margin: -125px auto 0;
  }
}
.header-experience {
  z-index: 1;
  flex: 0 1 60%;
}
.header-experience__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 1200px) {
  .header-experience__title {
    font-size: 40px;
  }
}
.header-experience__desc {
  margin-bottom: 40px;
  font-size: 18px;
}
.header-experience__desc li {
  margin-bottom: 15px;
}
.header-experience__desc li::first-letter {
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .header-experience__desc {
    font-size: 24px;
  }
  .header-experience__desc li {
    margin-bottom: 3px;
  }
  .header-experience__desc li::before {
    content: "— ";
  }
  .header-experience__desc li::first-letter {
    text-transform: none;
  }
}
.header-experience .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-experience .btn {
    display: inline-block;
  }
}
.header-contacts {
  flex: 0 1 32%;
}
.header-contacts__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 1200px) {
  .header-contacts__title {
    margin-bottom: 32px;
    font-size: 40px;
  }
}
.header-contacts__icons {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .header-contacts__icons {
    margin-bottom: 23px;
  }
}
.header-contacts__email {
  font-size: 18px;
}
.header-contacts__email span {
  color: #039be5;
  border-color: #039be5;
}
@media (min-width: 1200px) {
  .header-contacts__email {
    padding-left: 6px;
    font-size: 24px;
  }
  .header-contacts__email span {
    color: unset;
    border-color: unset;
  }
}
.header-contacts__email:focus {
  margin: -3px;
}
.portfolio {
  padding: 50px 0 97px;
  text-align: center;
  background-color: #f4f8f9;
}
@media (min-width: 1200px) {
  .portfolio {
    padding: 96px 0 66px;
  }
}
.portfolio__title {
  margin-bottom: 46px;
}
.portfolio__pagination {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio__pagination {
    display: flex;
    margin-bottom: 38px;
    font-weight: 800;
    font-size: 28px;
  }
}
.portfolio__pagination a {
  margin-right: 80px;
  color: #8fa5ae;
  outline: none;
  cursor: pointer;
}
.portfolio__pagination a.active {
  color: #000;
}
.portfolio__pagination a:hover,
.portfolio__pagination a:active {
  color: #ea736d;
  border: none;
}
.portfolio__pagination a:focus {
  margin: -3px 77px -3px -3px;
  border: 3px dotted #ea736d;
}
.portfolio__pagination a:last-child {
  margin-right: 0;
}
.portfolio__link {
  border-bottom: 1px solid #039be5;
}
.portfolio__link span::before {
  content: "Смотреть все работы";
}
.portfolio__link span.show::before {
  content: "Свернуть работы";
}
@media (min-width: 1200px) {
  .portfolio__link {
    display: none;
  }
}
.portfolio .portfolio-row {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (min-width: 1200px) {
  .portfolio .portfolio-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.portfolio .portfolio-card {
  flex: 0 1 32%;
  margin-bottom: 35px;
}
.portfolio .portfolio-card:not(:nth-child(-n + 4)) {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio .portfolio-card {
    margin-bottom: 60px;
  }
  .portfolio .portfolio-card:not(:nth-child(-n + 4)) {
    display: block;
  }
  .portfolio .portfolio-card:nth-child(-n + 2) {
    flex: 0 1 48.5%;
  }
  .portfolio .portfolio-card:nth-child(-n + 2) .portfolio-card__img {
    max-height: 370px;
    margin-bottom: 22px;
    overflow: hidden;
  }
  .portfolio .portfolio-card:nth-child(-n + 2) .portfolio-card__title h3 {
    font-size: 32px;
  }
  .portfolio .portfolio-card:nth-child(-n + 2) .portfolio-card__desc {
    font-size: 22px;
  }
}
.portfolio .portfolio-card:last-child {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .portfolio .portfolio-card:last-child {
    margin-bottom: unset;
  }
}
.portfolio .portfolio-card__img {
  position: relative;
  max-height: 270px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #039be5;
}
.portfolio .portfolio-card__img img {
  min-width: 105%;
  min-height: 105%;
  transition: opacity 0.8s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portfolio .portfolio-card__img:hover img,
.portfolio .portfolio-card__img:active img {
  opacity: 0.3;
  transition: opacity 0.8s ease;
}
.portfolio .portfolio-card__img:hover .portfolio-card__btn {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.5s ease;
}
.portfolio .portfolio-card__btn {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 276px;
  padding-top: 0;
  color: #ea736d;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  background-color: rgba(244, 248, 249, 0.7);
  transform: translate(-50%);
  opacity: 0;
  transition: 0.5s ease;
}
.portfolio .portfolio-card__btn:hover {
  color: #fff;
  background-color: rgba(234, 115, 109, 0.8);
  transition: 0.2s ease;
}
.portfolio .portfolio-card__btn:active {
  color: #fff;
  background-color: #e44840;
  transition: 0.2s ease;
}
.portfolio .portfolio-card__btn:focus {
  border: none;
}
.portfolio .portfolio-card__title h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .portfolio .portfolio-card__title h3 {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
.portfolio .portfolio-card__title h3 a:focus {
  margin: -3px;
}
.portfolio .portfolio-card__desc {
  font-weight: 300;
  font-size: 16px;
}
@media (min-width: 1200px) {
  .portfolio .portfolio-card__desc {
    font-size: 20px;
  }
}
.portfolio .portfolio-card .link {
  padding: 0;
  color: #212529;
}
.portfolio .portfolio-card .link:hover,
.portfolio .portfolio-card .link:active {
  color: #ea736d;
  border-bottom: 1px solid #ea736d;
}
.planning {
  max-width: 1600px;
  margin: 0 auto;
  padding: 55px 0 65px;
}
@media (min-width: 1200px) {
  .planning {
    padding: 127px 0 116px;
    background-image: url("../img/planning/line-4.png");
    background-position: center;
    background-size: contain;
  }
}
.planning__title {
  margin-bottom: 50px;
  text-align: center;
}
.planning__title h2 {
  font-size: 32px;
}
@media (min-width: 1200px) {
  .planning__title {
    margin-bottom: 145px;
  }
  .planning__title h2 {
    font-size: unset;
  }
}
.planning-card-wrapper {
  max-width: 1005px;
  margin: 0 auto;
}
.planning-card {
  position: relative;
  display: flex;
  margin-right: 0;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .planning-card {
    width: calc(50% + 37px);
    margin-bottom: 85px;
    margin-left: auto;
  }
  .planning-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
  }
  .planning-card:nth-child(odd) div:nth-child(even) {
    order: -1;
    margin-right: 40px;
    margin-left: auto;
    text-align: right;
  }
  .planning-card:first-child::after {
    position: absolute;
    right: 37px;
    bottom: calc(100% + 20px);
    width: 4px;
    height: 57px;
    background-color: #e1eef4;
    border-radius: 2px;
    transform: translateX(50%);
    content: "";
  }
}
.planning-card:last-child {
  margin-bottom: 0;
}
.planning-card:last-child div::before {
  display: none;
}
.planning-card:hover .title-line--sm::before {
  background-color: #ea736d;
  transition: background-color 0.5s ease;
}
.planning-card__img-wrapper {
  position: relative;
  margin-bottom: -41px;
}
.planning-card__img-wrapper::before {
  position: absolute;
  top: 94px;
  left: 50%;
  width: 4px;
  height: calc(100% - 94px);
  background-color: #e1eef4;
  border-radius: 2px;
  transform: translateX(-50%);
  content: "";
}
@media (min-width: 1200px) {
  .planning-card__img-wrapper::before {
    height: calc(100% - 74px);
  }
}
.planning-card__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  box-shadow: 3px 1px 35px rgba(0, 112, 187, 0.35);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.planning-card__img img {
  z-index: 0;
  width: 40px;
  height: 40px;
}
.planning-card__action {
  justify-content: flex-start;
  margin-left: 25px;
}
@media (min-width: 1200px) {
  .planning-card__action {
    margin-right: auto;
    margin-left: 48px;
  }
}
.planning-card__title {
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 19px;
}
@media (min-width: 1200px) {
  .planning-card__title {
    padding-top: 16px;
    font-size: 26px;
  }
}
.planning-card__desc {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.45;
}
@media (min-width: 1200px) {
  .planning-card__desc {
    font-size: 18px;
  }
}
.planning-card__desc p {
  margin-bottom: 10px;
}
.planning-card__desc p:last-child {
  margin-bottom: 0;
}
@keyframes pc-2 {
  25% {
    right: 26px;
    left: 21px;
  }
  50% {
    right: 26px;
    left: 50px;
  }
  75% {
    right: 26px;
    left: 21px;
  }
  100% {
    right: 50px;
    left: 21px;
  }
}
#pc2-anim::before {
  position: absolute;
  top: 26px;
  right: 50px;
  left: 21px;
  height: 18px;
  background-color: #ff5b5b;
  animation: pc-2 ease-in-out 3s infinite;
  content: "";
}
#pc2:hover #pc2-anim::before {
  animation-play-state: paused;
}
#pc4-anim img {
  opacity: 0.3;
  transition: opacity 1.5s ease;
}
#pc4-anim i {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 58px;
  height: 62px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.25;
  opacity: 1;
  transition: opacity 1.5s ease;
}
#pc4:hover img {
  opacity: 1;
  transition: opacity 1.5s ease;
}
#pc4:hover i {
  opacity: 0;
  transition: opacity 1.5s ease;
}
.contacts {
  margin: 0 auto;
  padding: 50px 0 60px;
  background-color: #f4f8f9;
}
@media (min-width: 1200px) {
  .contacts {
    padding: 127px 0 150px;
  }
}
.contacts__title {
  margin-bottom: 56px;
  text-align: center;
}
.contacts-left-side {
  position: relative;
  z-index: 2;
  max-width: 555px;
  font-size: 16px;
  line-height: 1.75;
}
@media (min-width: 1200px) {
  .contacts-left-side {
    font-size: 20px;
    line-height: unset;
  }
}
.contacts-left-side div:nth-last-child(2) {
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .contacts-left-side div:nth-last-child(2) {
    margin-bottom: 32px;
  }
}
.contacts-left-side div:nth-last-child(1) {
  padding: 0;
}
.contacts-left-side__call-to-me {
  margin-bottom: 20px;
  padding-top: 22px;
}
@media (min-width: 1200px) {
  .contacts-left-side__call-to-me {
    margin-bottom: 35px;
  }
}
.contacts-left-side__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 6px;
  padding: 8px 0;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .contacts-left-side__list {
    flex-direction: row;
    font-size: 20px;
  }
  .contacts-left-side__list::before {
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: -350px;
    z-index: -1;
    background-image: url("../img/bg-02.png");
    background-repeat: no-repeat;
    content: "";
  }
}
.contacts-left-side__list b {
  width: 40%;
}
.contacts-left-side__list a {
  color: #039be5;
  transition: color 0.2s ease;
}
.contacts-left-side__list a:active,
.contacts-left-side__list a:hover {
  color: #ea736d;
}
.contacts-left-side__list a:focus {
  margin: -3px;
}
.contacts-left-side__list span {
  color: #96969d;
}
.contacts-left-side .contacts-icon {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .contacts-left-side .contacts-icon {
    margin-bottom: 0;
  }
}
.contacts-right-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 510px;
  padding: 60px 15px 40px;
  background-color: #fff;
  box-shadow: 0 28px 100px #c2dbeb;
}
@media (min-width: 1200px) {
  .contacts-right-side {
    margin-right: 22px;
    padding: 80px 60px 40px;
  }
}
.contacts-right-side form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacts-right-side input:not([type="submit"]) {
  margin-bottom: 59px;
  padding: 0 0 14px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  border-radius: 1px;
  transition: 0.5s ease;
}
.contacts-right-side input:not([type="submit"]):hover,
.contacts-right-side input:not([type="submit"]):focus {
  border-color: #ea736d;
}
.contacts-right-side input[type="submit"] {
  margin-right: auto;
  padding-top: 0;
}
.contacts-right-side textarea {
  position: relative;
  width: 100%;
  height: 115px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  resize: none;
}
.contacts-right-side textarea:hover,
.contacts-right-side textarea:focus {
  border-color: #ea736d;
}
@media (min-width: 1200px) {
  .contacts-right-side textarea {
    margin-bottom: 40px;
  }
}
.contacts-right-side__email {
  position: absolute;
  top: 0;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side input[type="email"]:focus + span,
.contacts-right-side input[type="email"]:not(:placeholder-shown) + span {
  top: -25px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
.contacts-right-side__title {
  position: absolute;
  top: 107px;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side input[type="text"]:focus + span,
.contacts-right-side input[type="text"]:not(:placeholder-shown) + span {
  top: 75px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
.contacts-right-side__text {
  position: absolute;
  top: 202px;
  left: 0;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s ease;
  pointer-events: none;
}
.contacts-right-side textarea:focus + span.contacts-right-side__text,
.contacts-right-side textarea:not(:placeholder-shown) + span.contacts-right-side__text {
  top: 174px;
  color: #039be5;
  font-weight: 700;
  font-size: 16px;
}
footer {
  padding: 22px 0 20px;
  background-color: #333;
}
footer h4 {
  margin-bottom: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
footer p {
  color: #b0b0b0;
  font-size: 16px;
  line-height: 1.8;
}
footer .link {
  color: #b0b0b0;
}
footer .link span {
  border-color: #b0b0b0;
}
footer .link:hover span,
footer .link:active span {
  color: #fff;
  border-color: #fff;
}
/*# sourceMappingURL=./main.css.map */