.contacts {
  margin: 0 auto;
  padding: 45px 0 60px;
  background-color: #f4f8f9;

  @media (min-width: 768px) {
    padding: 85px 0 125px;
  }

  @media (min-width: 1200px) {
    padding: 125px 0 150px;
  }

  &__title {
    margin-bottom: 35px;
    text-align: center;

    @media (min-width: 768px) {
      margin-bottom: 80px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 56px;
    }
  }
}

.contacts-left-side {
  position: relative;
  max-width: 555px;
  font-size: 16px;
  line-height: 1.75;

  @media (min-width: 768px) {
    flex: 0 1 48%;
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    z-index: 2;
    flex: unset;
    font-size: 20px;
    line-height: unset;
  }

  div:nth-last-child(2) {
    margin-bottom: 22px;

    @media (min-width: 1200px) {
      margin-bottom: 32px;
    }
  }
  div:nth-last-child(1) {
    padding: 0;
  }
  // .contacts-left-side__call-to-me
  &__call-to-me {
    margin-bottom: 10px;
    padding-top: 0;
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 35px;
      padding-top: 22px;
    }
  }
  // .contacts-left-side__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: -6px;
    padding: 8px 0;
    font-size: 18px;
    b {
      width: 40%;
      margin-bottom: -5px;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      margin-bottom: 6px;
      font-size: 20px;
      &::before {
        position: absolute;
        top: -2px;
        right: 0;
        bottom: 0;
        left: -350px;
        z-index: -1;
        background-image: url("../../img/bg-02.png");
        background-repeat: no-repeat;
        content: "";
      }
    }
    a {
      color: @main;
      transition: color 0.2s ease;

      &:active,
      &:hover {
        color: @scarlet;
      }
      &:focus {
        margin: -3px;
      }
    }
    span {
      color: #96969d;
    }
  }
  .contacts-icon {
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.contacts-right-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 510px;
  padding: 60px 15px 40px;
  background-color: #fff;
  box-shadow: 0 28px 100px #c2dbeb;

  @media (min-width: 768px) {
    flex: 0 1 48%;
    height: fit-content;
    margin: 10px 0 0;
    padding: 60px 25px 40px;
  }

  @media (min-width: 1200px) {
    height: unset;
    margin: 0;
    margin-right: 22px;
    padding: 80px 60px 40px;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input:not([type="submit"]) {
    height: 40px;
    margin-bottom: 59px;
    border: none;
    border-bottom: 2px solid #eaeaea;
    border-radius: 1px;
    transition: 0.5s ease;
    &:hover,
    &:focus {
      border-color: @scarlet;
    }
  }

  input[type="submit"] {
    width: 100%;
    margin-right: auto;
    padding-top: 0;
    @media (min-width: 1200px) {
      width: unset;
    }
  }

  textarea {
    position: relative;
    width: 100%;
    height: 115px;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    border-bottom: 2px solid #eaeaea;
    outline: none;
    resize: none;
    &:hover,
    &:focus {
      border-color: @scarlet;
    }
    @media (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  // .contacts-right-side__email
  &__email {
    position: absolute;
    top: 5px;
    left: 0;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease;
    pointer-events: none;
  }

  input[type="email"]:focus + span,
  input[type="email"]:not(:placeholder-shown) + span {
    top: -20px;
    color: @main;
    font-weight: 700;
    font-size: 16px;
  }
  // .contacts-right-side__title
  &__title {
    position: absolute;
    top: 105px;
    left: 0;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease;
    pointer-events: none;
  }

  input[type="text"]:focus + span,
  input[type="text"]:not(:placeholder-shown) + span {
    top: 80px;
    color: @main;
    font-weight: 700;
    font-size: 16px;
  }
  // .contacts-right-side__text
  &__text {
    position: absolute;
    top: 195px;
    left: 0;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease;
    pointer-events: none;
  }

  textarea:focus + span.contacts-right-side__text,
  textarea:not(:placeholder-shown) + span.contacts-right-side__text {
    top: 170px;
    color: @main;
    font-weight: 700;
    font-size: 16px;
  }
}

#answer {
  h2 {
    font-weight: 700;
    font-size: 18px;
  }
}
