.contacts {
  margin: 0 auto;
  padding: 150px 0;
  background-color: #f4f8f9;

  &__title {
    margin-bottom: 75px;
    text-align: center;
  }
}

.contacts-left-side {
  max-width: 555px;
  font-size: 21px;

  div:nth-last-child(2) {
    margin-bottom: 37px;
  }
  // .contacts-left-side__call-to-me
  &__call-to-me {
    margin-bottom: 45px;
  }
  // .contacts-left-side__list
  &__list {
    display: flex;
    align-items: baseline;
    margin-bottom: 14px;
    padding: 8px 0;
    b {
      width: 40%;
    }
    a {
      color: @main;
      transition: color 0.2s ease;

      &:active,
      &:hover {
        color: @scarlet;
      }
      &:focus {
        margin: -3px 0;
      }
    }
    span {
      color: #96969d;
    }
  }
}

.contacts-right-side {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 555px;
  padding: 80px 60px 40px;
  background-color: #fff;
  box-shadow: 0 28px 100px #c2dbeb;
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  input:not([type="submit"]) {
    margin-bottom: 65px;
    padding: 0 0 5px;
    font-weight: 700;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid #eaeaea;
    border-radius: 1px;
    transition: 0.5s ease;
    &:hover,
    &:focus {
      border-color: @main;
    }
  }

  input[type="submit"] {
    margin-right: auto;
    padding-top: 0;
  }
  textarea {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 115px;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 700;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid #eaeaea;
    outline: none;
    resize: none;
    &:hover,
    &:focus {
      border-color: @main;
    }
    &::before {
      // Не работает потому что это textarea, у нее не может быть before и  after
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      color: #bcbcbc;
      font-weight: 700;
      font-size: 20px;
      transition: 0.5s ease;
      content: "Сообщение";
      pointer-events: none;
    }
  }
  textarea:not(:placeholder-shown) {
    top: 160px;
    color: @main;
    font-size: 16px;
  }
  // .contacts-right-side__email
  &__email {
    position: absolute;
    top: 0;
    left: 0;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease;
    pointer-events: none;
  }

  input[type="email"]:focus + span,
  input[type="email"]:not(:placeholder-shown) + span {
    top: -40px;
    color: @main;
    font-size: 16px;
  }
  // .contacts-right-side__text
  &__text {
    position: absolute;
    top: 100px;
    left: 0;
    color: #bcbcbc;
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s ease;
    pointer-events: none;
  }

  input[type="text"]:focus + span,
  input[type="text"]:not(:placeholder-shown) + span {
    top: 60px;
    color: @main;
    font-size: 16px;
  }
}
