.portfolio {
  padding: 45px 0 100px;
  text-align: center;
  background-color: #f4f8f9;

  @media (min-width: 768px) {
    padding: 65px 0 110px;
    text-align: left;
  }
  @media (min-width: 1200px) {
    padding: 100px 0 65px;
  }

  // .portfolio__title
  &__title {
    margin-bottom: 46px;
  }
  // .portfolio__pagination
  &__pagination {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      margin-bottom: 45px;
      font-weight: 800;
      font-size: 24px;
    }

    @media (min-width: 1200px) {
      display: flex;
      margin-bottom: 38px;
      font-size: 28px;
    }

    a {
      margin-right: 50px;
      color: #8fa5ae;
      outline: none;
      cursor: pointer;

      @media (min-width: 1200px) {
        margin-right: 80px;
      }
      &.active {
        color: #000;
      }

      &:hover,
      &:active {
        color: @scarlet;
        border: none;
      }
      &:focus {
        margin: -3px 47px -3px -3px;
        border: 3px dotted @scarlet;

        @media (min-width: 1200px) {
          margin: -3px 77px -3px -3px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    border-bottom: 1px solid @main;
    span::before {
      font-size: 20px;
      content: "Смотреть все работы";
    }
    span.show::before {
      content: "Свернуть работы";
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
}
.portfolio-row {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-card {
  flex: 0 1 32%;
  margin-bottom: 35px;

  &:not(:nth-child(-n + 4)) {
    display: none;
  }
  @media (min-width: 768px) {
    flex: 0 1 49%;
  }
  @media (min-width: 1200px) {
    flex: 0 1 32%;
    margin-right: 22px;
    margin-bottom: 60px;

    &:nth-child(3n + 2) {
      margin-right: 0;
      margin-left: auto;
    }

    &:not(:nth-child(-n + 4)) {
      display: block;
    }

    &:nth-child(-n + 2) {
      flex: 0 1 49%;

      .portfolio-card {
        &__img {
          max-height: 350px;
          margin-bottom: 22px;
          overflow: hidden;
        }
        // .portfolio-card__title
        &__title h3 {
          font-size: 32px;
        }
        // .portfolio-card__desc
        &__desc {
          font-size: 22px;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 60px;

    @media (min-width: 1200px) {
      margin-bottom: unset;
    }
  }
  &__img {
    position: relative;
    max-height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: @main;

    img {
      min-width: 105%;
      min-height: 105%;
      transition: opacity 0.8s ease;
      user-select: none;
    }
    &:hover img,
    &:active img {
      opacity: 0.3;
      transition: opacity 0.8s ease;
    }
    &:hover .portfolio-card__btn {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: 0.5s ease;
    }
  }

  &__btn {
    position: absolute;
    top: 25%;
    left: 50%;
    min-width: 276px;
    padding-top: 0;
    color: @scarlet;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(#f4f8f9, 0.7);
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s ease;

    &:hover {
      color: #fff;
      background-color: rgba(@scarlet, 0.8);
      transition: 0.2s ease;
    }

    &:active {
      color: #fff;
      background-color: darken(@scarlet, 10%);
      transition: 0.2s ease;
    }

    &:focus {
      border: none;
    }
  }

  // .portfolio-card__title
  &__title h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    @media (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 10px;
      font-size: 26px;
    }
    a:focus {
      margin: -3px;
    }
  }

  // .portfolio-card__desc
  &__desc {
    font-weight: 300;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 18px;
    }

    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }

  .link {
    padding: 0;
    color: #212529;
    &:hover,
    &:active {
      color: @scarlet;
      border-bottom: 1px solid @scarlet;
    }
  }
}
