.portfolio {
  // padding: 96px 0 127px;
  padding: 96px 0 66px;
  background-color: #f4f8f9;

  // .portfolio__title
  &__title {
    margin-bottom: 46px;
  }
  // .portfolio__pagination
  &__pagination {
    display: flex;
    margin-bottom: 38px;
    font-weight: 800;
    font-size: 28px;

    a {
      margin-right: 80px;
      color: #8fa5ae;
      outline: none;
      cursor: pointer;

      &.active {
        color: #000;
      }

      &:hover,
      &:active {
        color: @scarlet;
        border: none;
      }
      &:focus {
        margin: -3px 77px -3px -3px;
        border: 3px dotted @scarlet;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card:nth-child(-n + 2) {
  flex: 0 1 48.5%;
  .portfolio-card {
    &__img {
      max-height: 370px;
      margin-bottom: 22px;
      overflow: hidden;
    }
    // .portfolio-card__title
    &__title h3 {
      font-size: 32px;
    }
    // .portfolio-card__desc
    &__desc {
      font-size: 22px;
    }
  }
}

.portfolio-card {
  flex: 0 1 32%;
  margin-bottom: 60px;

  &__img {
    position: relative;
    max-height: 240px;
    margin-bottom: 21px;
    overflow: hidden;
    background-color: @main;

    img {
      user-select: none;
      min-width: 105%;
      min-height: 105%;
      transition: opacity 0.8s ease;
    }
    &:hover img,
    &:active img {
      opacity: 0.3;
      transition: opacity 0.8s ease;
    }
    &:hover .portfolio-card__btn {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: 0.5s ease;
    }
  }

  &__btn {
    position: absolute;
    top: 25%;
    left: 50%;
    min-width: 276px;
    padding-top: 0;
    color: @scarlet;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(#f4f8f9, 0.7);
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s ease;

    &:hover {
      color: #fff;
      background-color: rgba(@scarlet, 0.8);
      transition: 0.2s ease;
    }

    &:active {
      color: #fff;
      background-color: darken(@scarlet, 10%);
      transition: 0.2s ease;
    }

    &:focus {
      border: none;
    }
  }

  // .portfolio-card__title
  &__title h3 {
    font-weight: 700;
    font-size: 26px;
    a:focus {
      margin: -3px;
    }
  }

  // .portfolio-card__desc
  &__desc {
    font-weight: 300;
    font-size: 21px;
  }

  .link {
    padding: 0;
    color: #212529;
    &:hover,
    &:active {
      color: @scarlet;
      border-bottom: 1px solid @scarlet;
    }
  }
}
