.planning {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0 65px;
  @media (min-width: 1200px) {
    padding: 127px 0 116px;
    background-image: url("../../img/planning/line-4.png");
    background-position: center;
    background-size: contain;
  }
  // .planning__title
  &__title {
    margin-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 32px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 145px;
      h2 {
        font-size: unset;
      }
    }
  }
}

.planning-card-wrapper {
  max-width: 1005px;
  margin: 0 auto;
}

.planning-card {
  position: relative;
  display: flex;
  margin-right: 0;
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    width: calc(50% + 37px);
    margin-bottom: 85px;
    margin-left: auto;

    &:nth-child(odd) {
      margin-right: auto;
      margin-left: 0;

      div:nth-child(even) {
        order: -1;
        margin-right: 40px;
        margin-left: auto;
        text-align: right;
      }
    }
    &:first-child::after {
      position: absolute;
      right: 37px;
      bottom: calc(100% + 20px);
      width: 4px;
      height: 57px;
      background-color: #e1eef4;
      border-radius: 2px;
      transform: translateX(50%);
      content: "";
    }
  }

  &:last-child {
    margin-bottom: 0;
    div::before {
      display: none;
    }
  }

  &:hover .title-line--sm::before {
    background-color: @scarlet;
    transition: background-color 0.5s ease;
  }
  //.planning-card__wrapper
  &__img-wrapper {
    position: relative;
    margin-bottom: -41px;
    &::before {
      position: absolute;
      top: 94px;
      left: 50%;
      width: 4px;
      height: calc(100% - 94px);
      background-color: #e1eef4;
      border-radius: 2px;
      transform: translateX(-50%);
      content: "";

      @media (min-width: 1200px) {
        height: calc(100% - 74px);
      }
    }
  }

  // .planning-card__img
  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 28px;
    box-shadow: 3px 1px 35px rgba(#0070bb, 0.35);
    user-select: none;
    img {
      z-index: 1;
      width: 40px;
      height: 40px;
    }
  }
  // .planning-card__action
  &__action {
    justify-content: flex-start;
    margin-left: 25px;
    @media (min-width: 1200px) {
      margin-right: auto;
      margin-left: 48px;
    }
  }
  // .planning-card__title
  &__title {
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 19px;
    @media (min-width: 1200px) {
      padding-top: 16px;
      font-size: 26px;
    }
  }
  // .planning-card__desc
  &__desc {
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.45;
    @media (min-width: 1200px) {
      font-size: 18px;
    }
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes pc-2 {
  25% {
    right: 26px;
    left: 21px;
  }
  50% {
    right: 26px;
    left: 50px;
  }
  75% {
    right: 26px;
    left: 21px;
  }
  100% {
    right: 50px;
    left: 21px;
  }
}

#pc2-anim::before {
  position: absolute;
  top: 26px;
  right: 50px;
  left: 21px;
  height: 18px;
  background-color: #ff5b5b;
  animation: pc-2 ease-in-out 3s infinite;
  content: "";
}
#pc2:hover #pc2-anim::before {
  animation-play-state: paused;
}

#pc4-anim {
  img {
    opacity: 0.3;
    transition: opacity 1.5s ease;
  }
  i {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 58px;
    height: 62px;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.25;
    opacity: 1;
    transition: opacity 1.5s ease;
  }
}

#pc4:hover {
  img {
    opacity: 1;
    transition: opacity 1.5s ease;
  }
  i {
    opacity: 0;
    transition: opacity 1.5s ease;
  }
}
